root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css, sass, scss, less }]
indent_size = 2
indent_style = space

[*.{html, js, ts}]
indent_size = 2
indent_style = space

[*.{tsx, jsx}]
indent_size = 2
indent_style = space


[{composer.lock, .babelrc, .stylelintrc, jest.config, bowerrc, *.json, *.jsb3, *.jsb2}]
indent_size = 2
indent_style = space



