.Ticket {
  padding          : 10px 50px 20px 20px;
  margin-bottom    : 20px;
  background-color : var(--white);
  font-weight      : 600;
}
.Ticket__header {
  padding         : 10px 0;
  display         : flex;
  justify-content : space-between;
}
.Ticket__price {
  color       : var(--primary);
  font-size   : 24px;
  display     : flex;
  align-items : center;
}
.Ticket__logo {}
.Ticket__row {
  padding-top     : 10px;
  display         : flex;
  justify-content : space-between;
}

.Ticket__itemTitle {
  text-transform : uppercase;
  color          : var(--secondary);
  font-size      : 12px;
  line-height    : 18px;
}
.Ticket__itemInfo {
  font-size   : 14px;
  line-height : 21px;
}
