.customCheckbox {
  display : block;
  padding : 10px 20px;
  cursor  : pointer;
}
.customCheckbox__active .customCheckbox__label:after {
  display : inline-block;
}
.customCheckbox__input {
  display : none;
}
.customCheckbox__label {
  cursor       : pointer;
  padding-left : 1.875rem;
  position     : relative;
}
.customCheckbox__label:before,
.customCheckbox__label:after {
  border-color : var(--primary);
  border-style : solid;
  content      : '';
  position     : absolute;
}
.customCheckbox__label:before {
  border-radius : 2px;
  border-width  : 1px;
  box-sizing    : border-box;
  display       : inline-block;
  height        : 1.25rem;
  left          : 0;
  position      : absolute;
  top           : 50%;
  transform     : translate(0, -50%);
  width         : 1.25rem;
}
.customCheckbox__label:after {
  border-right : none;
  border-top   : none;
  border-width : 2px;
  display      : none;
  height       : .25rem;
  left         : .375rem;
  top          : .375rem;
  transform    : rotate(-45deg);
  width        : .5rem;
}
